# packaging #primary
pip>=9
setuptools>=26
twine
wheel>=0.29
python-dotenv
streamlit

# data science
numpy
pandas
# scikit-learn
tensorflow

# utilities #optional
six>=1.14

#guitar-set #primary
librosa
jams
sox


